# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
*.iml
.vscode/
.vscode/*
!.vscode/extensions.json

# Backend
backend/target/
backend/*.class

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/*.log

# Env
.env
*.env.local
